---
name: ansible-galaxy-publish
on: [push]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Install ansible-galaxy CLI
        run: sudo apt-get -oInstall-Recommands=false install ansible-core
      - name: Import to Ansible Galaxy
        run: ansible-galaxy role import --token ${{ secrets.ANSIBLE_GALAXY_API_TOKEN }} ${GITHUB_REPOSITORY_OWNER} ${GITHUB_REPOSITORY#*\/}
...
